
{%load general_tags%}
<div class="cart-item grid grid-cols-12 gap-x-2 w-full py-4 cursor-pointer">
    <!-- img -->

    <div class="col-span-4 w-24 h-20">

        <img src="{{product.files.first.image.url}}" class="rounded-lg" alt="product">

    </div>

    <!-- detail -->
    <div style="cursor: default;" class="col-span-8 flex flex-col justify-between">

        <h2 class="font-DanaMedium line-clamp-2">
            {{product.name}}
        </h2>

        <div class="flex items-center justify-between gap-x-2 mt-2">
            <button style="cursor: pointer;" data-product-id="{{product.pk}}"
                class="cart-menu-quantity w-20 flex items-center justify-between gap-x-1 rounded-lg border border-gray-200 dark:border-white/20 py-1 px-2">
                <svg class="hidden-cart-add-itm size-4 increment text-green-600">
                    <use href="#plus"></use>
                </svg>
                <input type="number" name="customInput" id="customInput" min="0" max="20" value="{{item_quantity}}"
                    class="mini-item-input-{{product.pk}} custom-input w-4 mr-2 text-sm">
                <svg class="hidden-cart-decrease-itm size-4 decrement text-red-500">
                    <use href="#minus"></use>
                </svg>
            </button>

            <p
                class="hidden-item-total-price-{{product.pk}} text-lg text-blue-500 dark:text-blue-400 font-DanaMedium">
                <span class="hidden-itm-cart-t-p">
                    {%if product.off%}{{product.price_after_off|to_thousand_filter}}{%else%}{{product.price|to_thousand_filter}}{%endif%}</span>
                <span class="font-Dana text-sm">تومان</span>
            </p>

        </div>
    </div>
</div>