{%for field in form%}

{{field}}
{%if field.errors%}
{%for e in field.errors%}
<p style="display: inline-block; color: #ff3838;">{{e}}</p>
{%endfor%}
{%endif%}
{%endfor%}

<select required name="address"
    class="block w-full py-1.5 px-3 text-base outline dark:outline-none outline-1 -outline-offset-1 placeholder:text-gray-400   transition-all col-span-12
                            text-gray-800 dark:text-gray-100 dark:bg-gray-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded-md outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100 dark:focus:ring-blue-400 h-11"
    id="">
    {%for address in addresses%}
    <option value="{{address.id}}">{{address.name}} | {{address.address}} </option>
    {%endfor%}

</select>