<span id="comment-count" style="display: none;" data-comment-count="{{comments.count}}"></span>
{%if comments%}

    {%for comment in comments%}
    {%if forloop.counter < 4 %}
    
    
    <li
        class="child:flex py-4 border-b border-gray-200 dark:border-b-gray-200/20 child:border-white/20">
        <!-- TITLE -->
        <div class="flex items-center gap-x-2">
            <h2 class="font-DanaMedium text-lg mb-1">{{commet.title}}</h2>
            <span class="px-2 py-1 mb-2 rounded-lg bg-blue-500 text-white text-xs">خریدار</span>
        </div>
        <!-- COOMENT TEXT -->
        <div class="flex-col">
            {%if comment.sugest_to_buy%}
            <h2 class="flex items-center gap-x-1 text-green-500 mb-4">
                <svg class="w-4 h-4">
                    <use href="#hand-up"></use>
                </svg>
                پیشنهاد میشود
            </h2>
            {%else%}
            <h2 class="flex items-center gap-x-1 text-red-500 mb-4">
                <svg class="w-4 h-4">
                    <use href="#hand-down"></use>
                </svg>
                پیشنهاد نمیشود
            </h2>
            {%endif%}
            <p class="text-gray-500 dark:text-gray-200 mb-2 line-clamp-2">
                {{comment.text}}
            </p>
        </div>
        <!-- COMMENT FOOTER -->
        <div class="mt-2 lg:mt-0 flex-col lg:flex-row gap-y-2 lg:items-center justify-between">
            <div class="flex items-center gap-x-4 text-gray-400 text-sm">
                <p>{{comment.date_created}}</p>
                <p>امیررضا کریمی</p>
            </div>
            <div style="display: none;" class="flex items-center gap-x-2 flex-wrap mt-2">
                <p class="text-gray-400 text-sm">آیا این دیدگاه برایتان مفید بود؟</p>
                <div class="flex items-center gap-x-2 child:flex child:items-center child:gap-x-1 child:rounded-lg child:p-2 child:font-DanaMedium child:duration-300 
                                    child:transition-all child:text-sm">
                    <button
                        class="text-green-600 ring-transparent ring-1 focus:ring-green-600  dark:focus:ring-green-600">
                        78
                        <svg class="w-4 h-4">
                            <use href="#hand-up"></use>
                        </svg>
                    </button>
                    <button
                        class="text-red-500 ring-transparent ring-1 focus:ring-[#EF4343]  dark:focus:ring-[#EF4343]">
                        25
                        <svg class="w-4 h-4">
                            <use href="#hand-down"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        </li>
        {%else%}
        <li dark:border-b-gray-200="" 20=""
            class="hidden-comment-item child:flex py-4 border-b border-gray-200 dark:border-b-gray-200/20 child:border-white/20 hidden">
            <!-- TITLE -->
            <div class="flex items-center gap-x-2">
                <h2 class="font-DanaMedium text-lg mb-1">{{comment.title}}</h2>
                <span class="px-2 py-1 mb-2 rounded-lg bg-blue-500 text-white text-xs">خریدار</span>
            </div>
            <!-- COOMENT TEXT -->
            <div class="flex-col">
                {%if comment.sugest_to_buy%}
                <h2 class="flex items-center gap-x-1 text-green-500 mb-4">
                    <svg class="w-4 h-4">
                        <use href="#hand-up"></use>
                    </svg>
                    پیشنهاد میشود
                </h2>
                {%else%}
                <h2 class="flex items-center gap-x-1 text-red-500 mb-4">
                    <svg class="w-4 h-4">
                        <use href="#hand-down"></use>
                    </svg>
                    پیشنهاد نمیشود
                </h2>
                {%endif%}
                <p class="text-gray-500 dark:text-gray-200 mb-2 line-clamp-2">
                    {{comment.text}} </p>

            </div>
            <!-- COMMENT FOOTER -->
            <div class="mt-2 lg:mt-0 flex-col lg:flex-row gap-y-2 lg:items-center justify-between">
                <div class="flex items-center gap-x-4 text-gray-400 text-sm">
                    <p>{{comment.date_created}}</p>
                    <p>امیررضا کریمی</p>
                </div>
                <div style="display: none;" class="flex items-center gap-x-2 flex-wrap mt-2">
                    <p class="text-gray-400 text-sm">آیا این دیدگاه برایتان مفید بود؟</p>
                    <div class="flex items-center gap-x-2 child:flex child:items-center child:gap-x-1 child:rounded-lg child:p-2 child:font-DanaMedium child:duration-300 
                child:transition-all child:text-sm">
                        <button
                            class="text-green-600 ring-transparent ring-1 focus:ring-green-600  dark:focus:ring-green-600">
                            78
                            <svg class="w-4 h-4">
                                <use href="#hand-up"></use>
                            </svg>
                        </button>
                        <button
                            class="text-red-500 ring-transparent ring-1 focus:ring-[#EF4343]  dark:focus:ring-[#EF4343]">
                            25
                            <svg class="w-4 h-4">
                                <use href="#hand-down"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </li>
        {%endif%}

        {%endfor%}
        <button id="show-more-comments"
            class="show-more more-comment-btn w-full flex items-center justify-center gap-x-1 my-4 text-blue-600 dark:text-blue-400 font-DanaMedium">
            <p class="more-comment-text">مشاهده بیشتر</p>
            <svg class="size-4 more-comment-icon">
                <use href="#chevron"></use>
            </svg>
        </button>


{%endif%}